@font-face {
    font-family: "DIN Next";
    font-weight: 700;
    font-style: normal;
    src: url("https://fonts.shopifycdn.com/din_next/dinnext_n7.57888b0b2051a4dba7d02aad7ca64db99eca3cf1.woff2?h1=dHJhaWxtYXBzLmNvLnVr&h2=Y3ljbGluZ3ByaW50cy5jby51aw&hmac=aee4c435df61e442d0e27ec103df917fd5e32faa7705431b2e261288e6b6a60c")
            format("woff2"),
        url("https://fonts.shopifycdn.com/din_next/dinnext_n7.8ca52ee0f403ce0c89c90387f16284e4637c1b10.woff?h1=dHJhaWxtYXBzLmNvLnVr&h2=Y3ljbGluZ3ByaW50cy5jby51aw&hmac=70510815ffc6a5df6c3bb26b2975aae027be121faac299a6b760340a5c7d23cb")
            format("woff");
}

body {
    padding: 0;
    font-family: "DIN Next", sans-serif;
    font-size: 16px;
}

h1 {
    position: relative;
    z-index: 100;
    margin: 15px 0 15px 55px;

    img {
        display: block;
        max-width: 125px;
    }
}
h2 {
    margin: 0 0 17px;
    font-family: "DIN Next", sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.page {
    padding: 55px;
    border-top: 1px solid #e8e9eb;
    font-size: 1.4em;
}